<h1>All cars</h1>
<table class="table">
    <thead>
        <tr>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel type</th>
            <th>Status</th>
            <th>Image</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.carModel}}</td>
            <td>{{car.carType}}</td>
            <td>{{car.gasType}}</td>
            <td>{{car.status}}</td>
            <td><img width="100px" height="60px" src="{{car.image}}"></td>
            <td><a [routerLink]="['/car-details', car.id]">View</a></td>
            <td *ngIf="!car.status"><button (click)="finishRent(car.id)">Finish rent</button></td>
        </tr>
        
    </tbody>
</table>
<div *ngIf="reportDiv" id="report" style="text-align: center;width: 500px;height: 300px;border: 1px solid blue;float:right;">
    <h2 style="color:white;background-color:gold;">Enter report</h2>
    <form>
        <input style="width: 200px; height: 50px;" [(ngModel)]="enterReport" [ngModelOptions]="{standalone: true}" placeholder="Report text" type="text"><br><br>
        <input style="width: 200px; height: 20px;" [(ngModel)]="enterKm" [ngModelOptions]="{standalone: true}" placeholder="Kilometers" type="number"><br><br>
        <button style="border-radius: 30px;color:white;background-color: black;" (click)="addReport()">Send report</button>
    </form>
</div>