<div style="margin: auto;width: 500px;height:600px;border: 1px solid blue;border-radius: 20px;"><br>
  <h3 style="padding-left: 22%;">Enter occupation</h3>
<form style="width: 400px;margin: auto;" (ngSubmit)="onSubmitCreate()">
  <div class="form-group" style="margin-bottom: 5px">

    Select car for occupation:
    <select [(ngModel)]="selectedId" id="selectedId" name="selectCar" #selectCar = "ngModel">
      <option *ngFor="let car of this.cars" [value]="car.id" required>
        {{car.carClass}} {{car.carModel}}
      </option>
    </select>
    <br/>
    <br/>
  </div>
  <div class="form-group" style="margin-bottom: 5px">
    <h5 style="color:#33ccbb">Enter starting date and ending date</h5>
    <input type="date" id="startingDate" class="form-control"required
           [(ngModel)]="startingDate"
           [ngModelOptions]="{standalone: true}"
           ng-model="ddd"


    />
    <input type="date" id="endingDate" class="form-control" required
           [(ngModel)]="endingDate"
           [ngModelOptions]="{standalone: true}"
           ng-model="ddd"
    />
  </div>
  <div class="form-group" style="margin-bottom: 5px">
    <div>
    Name
    <input type="text" id="name" class="form-control"  name = "nameIme" #nameIme = "ngModel" pattern="[a-zA-Z\\s\\-]{1,50}" placeholder="Name" required
           [(ngModel)]="name"
           [ngModelOptions]="{standalone: true}"
    />
    <i class = "zmdi zmdi-search input-group-symbol"></i>
    </div>
    <div class="alert alert-danger" *ngIf="nameIme.touched && !nameIme.valid" style="color: red">Data is not in correct form, only letters.</div>
  </div>
  <div class="form-group" style="margin-bottom: 5px">
    Surname
    <input type="text" id="surname" class="form-control" name = "surnameIme" #surnameIme = "ngModel" pattern="[a-zA-Z\\s\\-]{1,50}"placeholder="Surname" required
           [(ngModel)]="surname"
           [ngModelOptions]="{standalone: true}"
    />
    <div class="alert alert-danger" *ngIf="surnameIme.touched && !surnameIme.valid" style="color: red">Data is not in correct form, only letters.</div>
  </div>
  <div class="form-group" style="margin-bottom: 5px">
    Jmbg
    <input type="number" id="jmbg" class="form-control" placeholder="Jmbg" required name="jmbgIme" #jmbgIme = "ngModel"
           [(ngModel)]="jmbg"
           [ngModelOptions]="{standalone: true}"
    />
  </div>
  <br/>
  <button class="btn btn-success" type="submit">Submit</button>
</form>
</div>
