<form (ngSubmit)="onSubmitFindFreeCars()">
  <div class="form-group" style="margin-bottom: 5px">
    <h5 style="color:#33ccbb">Enter starting date and ending date</h5>
    <input type="date" id="startingDate" class="form-control"required
           [(ngModel)]="startingDate"
           [ngModelOptions]="{standalone: true}"
           ng-model-options="{timezone: 'utc'}"

    />
    <input type="date" id="endingDate" class="form-control" required
           [(ngModel)]="endingDate"
           [ngModelOptions]="{standalone: true}"
           ng-model-options="{timezone: 'utc'}"
    />
    <button class="btn btn-success" type="submit">Find free cars for dates</button>
  </div>
</form>>

<form (ngSubmit)="onSubmitCreate()">
  <div class="form-group" style="margin-bottom: 5px">

    Select free car for date
    <select [(ngModel)]="selectedId" id="selectedId" name="selectCar">
      <option *ngFor="let car of freeCars" [value]="car.id" required>
        {{car.carModel}}
      </option>
    </select>
    <br/>
    Without driver
    <input type="checkbox" id="withoutDriver" class="form-control"
           [(ngModel)]="withoutDriver"
           [ngModelOptions]="{standalone: true}"
           (change)="withoutDriverChanged()"
    />

    <br/>
    <div class="form-group" style="margin-bottom: 5px">
      <br/>
      With new driver
      <input type="checkbox" id="withNewDriver" class="form-control"
             [(ngModel)]="withNewDriver"
             [ngModelOptions]="{standalone: true}"
             (change)="newDriverChanged()"
      />
    </div>
  </div>
  <div class="form-group" style="margin-bottom: 5px">
    Name
    <input type="text" id="name" class="form-control" placeholder="Name" required
           [(ngModel)]="name"
           [ngModelOptions]="{standalone: true}"
           [disabled]="!withNewDriver ? '' : null"
    />
  </div>
  <div class="form-group" style="margin-bottom: 5px">
    Surname
    <input type="text" id="surname" class="form-control" placeholder="Surname" required
           [(ngModel)]="surname"
           [ngModelOptions]="{standalone: true}"
           [disabled]="!withNewDriver ? '' : null"
    />
  </div>
  <div class="form-group" style="margin-bottom: 5px">
    Jmbg
    <input type="number" id="jmbg" class="form-control" placeholder="Jmbg" required
           [(ngModel)]="jmbg"
           [ngModelOptions]="{standalone: true}"
           [disabled]="!withNewDriver ? '' : null"
    />
  </div>
  <div class="form-group" style="margin-bottom: 5px">
    <br/>
    With existing driver
    <input type="checkbox" id="withExistingDriver" class="form-control"
           [(ngModel)]="withExistingDriver"
           [ngModelOptions]="{standalone: true}"
           (change)="existingDriverChanged()"
    />
    <br/>
    Select driver
    <select [(ngModel)]="selectedCustomerId" id="selectedCustomerId" name="selectedCustomer" [disabled]="!withExistingDriver ? '' : null">
      <option *ngFor="let car of customers" [value]="car.id" required>
        {{car.name}}
      </option>
    </select>
  </div>
  <br/>
  <button class="btn btn-success" type="submit">Submit</button>
</form>>

