<p>Home Works!</p>
<button (click)="getString()">get super secret string</button>
<a *ngIf="adminLoggedIn()" class="nav-link" routerLink="/addCar">Add Car</a><br/>
<a class="nav-link" routerLink="/enterOccupation">Enter occupation for car</a><br>
<a *ngIf="adminLoggedIn()" class="nav-link" routerLink="/allCars">All cars</a><br>
<a *ngIf="adminLoggedIn()" class="nav-link" routerLink="/carStatistics">Cars statistics</a><br>
<a *ngIf="adminLoggedIn()" class="nav-link" routerLink="/requests">Request</a><br>
<button (click)="logout()">Log out</button>
