<h1>Cars statistics</h1>
<table style="width:40%" class="table table-dark">
    <thead>
        <tr>
            <th>Model</th>
            <th>Type</th>
            <th>Uses</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.carModel}}</td>
            <td>{{car.carType}}</td>
            <td>{{car.usesCount}}</td>
        </tr>
        
    </tbody>
</table>
<div style="margin-top:-80px;float:right;width:800px;height:250px;border: 2px solid blue;border-radius: 20px;">
    <div style="padding-top:40px;padding-left:50px;margin: auto;width: 400px;height: 100%">
    <h2>Car with best grade : </h2>
    <span><b>{{bestGradeCar.carModel}} {{bestGradeCar.carType}}</b>    with     <b>{{bestGradeCar.likes}}</b> likes</span><br><hr>
    <h2>Car with most km</h2>
    <span *ngIf = "isValidCarModel"><b>{{mostKmCar.carModel}} {{mostKmCar.carType}}</b>    with     <b>{{mostKmCar.kmAmount}}</b> km</span>
    </div>
</div>

